 *{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
 }
 .content {
   display: flex;
   flex-direction: column;
  
 }
 .header {
   display: flex;
   justify-content: space-between;
   color: #f9faf8;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 20px ;
  
   
 }
 ul{
   display: flex;
   list-style: none;
  gap: 16px;
  margin-right: 10px;

 }
 a{
   text-decoration: none;
   color: #f9faf8;
 }







 .main{
   background-color: #1d2937;
}
.pagestart{
   display: flex;
   justify-content: space-between;
   margin:100px 200px ;
}
.maincontent{
   width: 600px;
   height: fit-content;
   padding: 30px; 
   
}
.imageninicio{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   color: #f9faf8;
   border:  #566677 solid;
   width: 800px;
   background-color: #566677;
}
 .tituloport{
   color: #f9faf8;
   font-size: 48px;
   font-weight: bolder;
 }
.textport{
   font-size: 18px;
   color: #e5e7eb;
   text-wrap: balance;
   margin: 5px;
}
.spBton{
   display: flex;
   justify-content: center;
   background-color: #3882f6;
   border-radius: 10px;
   border-color: #1d2937;
   font-size: 15px;
   font-weight: bold;
   color: #f9faf8;
   padding: 8px;
   height: fit-content;
   width: 110px;
}




.midpage{
   display: flex;
   flex-direction: column;
   margin-bottom: 100px;
}
.mpTitle{
   display: flex;
   justify-content: center;
   font-size: 36px;
   font-weight: bolder;
   color: #1f2937;
   padding: 60px;

   
}
.midpage ul{
   display: flex;
   justify-content: center;
}
.img{
   border: solid  #3882f6;
   border-width: 5px;
   border-radius: 15px;
   width: 200px;
   height: 200px;
 
}
.midpage li {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   text-align: center;
   text-wrap: balance;
   width: 300px;
   font-size: 18px;
}




.pagequote{
   background-color: #e5e7eb;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 140px;
}
.quote{
   font-size: 36px;
   font-weight: 0;
   color: #1f2937;
   font-style: italic;
   text-align: left;
   text-wrap: wrap;
   margin: 0 195px;
   width: 900px;
   
}
.qsource{
   font-size: 20px;
   font-weight: bolder;
   font-style: oblique;
   align-self: center;
   margin-left:  395px   ;
}




.pageend{
   display: flex;
   justify-content: center;

}
.modal{
   margin: 100px 130px;
  border-radius: 8px;
   display: flex;
  height: fit-content;
   background-color: #3882f6;
   width: 1000px;
   padding: 60px; 
   justify-content: space-around;
}
.minfo{
   display: flex;
   flex-direction: column;
   gap: 4px; 
    }
.modaltitle{
   font-size: 23px;
   font-weight: bolder;
   color: #f9faf8;
}
.modaltext{
   font-size: 18px;
   font-weight: lighter;
   color: #f9faf8;
}
.endBton {
   display: flex;
  justify-content: center;
   align-self: flex-end;
   background-color: #3882f6;
   border-radius: 10px;
   border-color: #f9faf8;
   border-width: 3px;
   font-size: 15px;
   font-weight: bold;
   color: #f9faf8;
   padding: 8px;
   height: fit-content;
   width: 130px;
}



.footer{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f9faf8;
   font-size: 18px;
   font-weight: 500;
   background-color: #1d2937;
   padding: 50px;
   text-align: center;
}